* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: auto;
    margin-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    margin: auto;
    max-width: 1400px;
}

main h2:first-of-type {
    margin-top: 15px;
}

div.album_grid {
    margin: 20px;

    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

div.album {
    /* Flip card effect */
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

div.flip_card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d; 
}

/* Position the front and back side */
.div.front_side, div.back_side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

div.back_side {
    transform: rotateY(180deg);
}

div.album:hover div.flip_card {
    transform: rotateY(180deg);
}

div.front_side > img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

div.back_side {
    /* Overlay div over album image */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Set font size based on parent size*/
    font-size: minmax(16px, 24px);

    /* Set transparant overlay */
    background-color: rgba(0, 0, 0, 75%);    
}

div.back_side > span {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.back_side hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

div.back_side > span.album_data {
    position: absolute;
    bottom: 16px;
    left: 16px;   
}

span.album_artist {
    font-weight: bold;
    text-transform: uppercase; 
}

span.item_type {
    position: absolute;
    top: 16px;
    right: 16px;    
}

div.back_side > span.album_price {
    position: absolute;
    top: 16px;
    left: 16px;
}

main > h2 {
    background-color: lightsteelblue;
    color: #333;
    margin-bottom: 10px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: normal;
}

main div.banner {
    background-color: rgb(240, 240, 240);
    margin-bottom: 10px;
    max-height: 400px;
    position: relative;
    margin-top: 10px;
    padding-right: 90px;
}

main div.banner > div.slide {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}


main div.banner img {
    height: 400px;
}

main div.banner div div {
    position: absolute;
    display: inline-block;
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    color: #333333;
}

main div.banner div h2 {
    font-size: 2.5em;
    font-weight: bold;
}

main div.banner div h3 {
    font-size: 1.75em;
    font-weight: normal;
}

main div.banner div p {
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 10px;
    overflow: hidden;
    max-height: 240px;
}

div.pointer_left:hover, div.pointer_right:hover {
    background-color: rgba(0, 0, 0, 60%);
}

div.pointer_left {
    cursor: pointer;
    position: absolute;
    top: 175px;
    left: 430px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 20%);
    border-radius: 20px;
    user-select: none;
}

div.pointer_right {
    cursor: pointer;
    position: absolute;
    top: 175px;
    right: 30px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 20%);
    border-radius: 20px;
    user-select: none;
}

div.pointer_left::selection, div.pointer_right::selection {
    background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 1400px) {
    div.album_grid {
        margin: 0px;
    }
}

form.orderform {
    position: relative;
    margin-top: 20px;
}

form.orderform input[type="submit"] {
    position: absolute;
    right: 0;
    width: 200px;
    padding: 10px;
    font-size: 1.5em;
    background-color: steelblue;
    color: white;
}

form.orderform input[type="submit"]:hover {
    background-color: darkslategray;
}

div.submission_error {
    margin-top: 15px;
    padding: 15px;
    background-color: darksalmon;
}

div.submission_succeeded {
    margin-top: 15px;
    padding: 15px;
    background-color: palegreen;
    display: none;
}